*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    /* background-color: #a4152c; */
    background-color: gray;
}


ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    flex-align:center;
    margin-top:50px ;
}


.box{
    width: 220px;
    height: 520px;
    min-width: 150px;
    background-color: #1e1e26;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
    justify-content: space-around   ;
    margin: 20px 30px;
    flex: 1 0 21%;
}


.box:hover{
    transform-style: preserve-3d;
    transform: scale(1.02);
    transition: all ease 0.3s;
}

.tex{
    color: red;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-left:10px;
    letter-spacing: 1px;
}

.bn{
   margin-right: 10px;
   margin-bottom: 30px;
   border-radius: 6px solid green;
   border: none;
   outline: none;
   float: right;
   background-color: blue;
   color:white;
}

.bn:hover{
    background-color: orangered;

}


.desc{
    border-radius: 3px solid green;
    outline: none;
    background: none;
}

.sub_btn{
    margin: 10px;
}

#form input{
    background:orangered;
    opacity: .8;
    color: white;
    font-weight: bold;
    outline: none;
    padding-left: 10px;
}

#form input:hover{
    opacity: 1;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: scale(1.02);
    transition: all ease 0.3s;
}