{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<!-- <link rel="stylesheet" href="{% static 'css/main.css' %}"> --> 
<div class="row">
    <div class="column">
      <img src="{% static 'images/movie.jpg' %}" >
    </div>
    <div class="column">
      <img src="{% static 'images/movie.jpg' %}">
    </div>
    <div class="column">
      <img src="{% static 'images/movie.jpg' %}">
    </div>
    <div class="column">
        <img src="{% static 'images/movie.jpg' %}">
      </div>

      <div class="column">
        <img src="{% static 'images/movie.jpg' %}">
      </div>
      <div class="column">
        <img src="{% static 'images/movie.jpg' %}">
      </div>
      <div class="column">
        <img src="{% static 'images/movie.jpg' %}">
      </div>
      <div class="column">
          <img src="{% static 'images/movie.jpg' %}">
        </div>

        
  
  </div>
  
{% endblock content %}
