{% extends 'store/main.html' %}
{% load static %}

{% block content %}

<div class="row">

  <div class="card">
    <img class="thumbnail" src="{% static 'images/placeholder.png'  %}" width="300px" height="210px">
    <div class="box-element">
       <p>attack on titan</p>
    </div>
  </div>
  
  <div class="card">
    <img class="thumbnail" src="{% static 'images/placeholder.png'  %}" width="300px" height="200px">
    <div class="box-element">
      <p>attack on titan</p>
   </div>
  </div>
  
  <div class="card">
    <img class="thumbnail" src="{% static 'images/placeholder.png'  %}" width="300px" height="200px">
   
  </div>
  
  <div class="card">
    <img class="thumbnail" src="{% static 'images/placeholder.png'  %}" width="300px" height="200px">
    
  </div>
  
  <div class="card">
    <img class="thumbnail" src="{% static 'images/placeholder.png'  %}" width="300px" height="200px">
    
  </div>

</div>

  
{% endblock content %}
