{% extends 'store/main.html' %}
{% load static %}

<!--jQuery-->>


{% block content %}


<!-- <link rel="stylesheet" href="{% static 'css/main.css' %}"> -->



<link rel="stylesheet" href="{% static 'css/anime.css' %}"> 

<div class="container">
  {% for item in items %}
       
    <div class="box">
       <img style="border-radius: 15px;" src="{{item.image.url}}" alt="" width="100%" height="400px">
       <hr style="border:1px solid magneta;">
       <div class="details">
           <h3 class="tex" style="color:red;" >{{item.name}}</h3>
           <hr style="border:1px solid magneta;">
         </div>
            <!-- <a class="bn" href="/newtab">Description</a> -->
          <form action="/newtab3/{{item.id}}" method="POST">
            {% csrf_token %}
            <div id="form">
              <input type="submit" value="Description">

           </div>
          </form>
    </div>
    {% endfor %} 
</div>

 

{% endblock content %}
