<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Document</title>
</head>
<body>

    <form action="login" method="POST">
        {% csrf_token %}
        <div class="loginbox">
           
            <h3>Login</h3>
           
            <div class="textbox">
                <i class="fas fa-users" aria-hidden="true"></i>
                <input type="text" placeholder="Username" name="" value="">
            </div>
             
            <div class="textbox">
                <i class="far fa-unlock-alt" aria-hidden="true" ></i>
                <input type="password" placeholder="Password" name="" value="">
            </div>
    
            <input class="btnn" type="button" value="Login">
           
            
             <h4 style="padding-left: 120px;">OR</h4>
        
              <a class="sig" href="register.html">Sign Up</a>
    
        </div>
    </form>
    
</body>
</html>