<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{% static 'app.js' %}" >

    </script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Cinematique</title>
</head>
<body>

    <div class="navbar">
          
        <ul class="nav">
        
            <li> <a class = "eiga" id = eigan   href=""> <strong>CINEMATIQUE</strong> </a></li>
        
           <section class="hover">
                <li class="nav_btn"><a href="/home">Home</a></li>
                <li class="nav_btn"><a href="/hollywood">Hollywood</a></li>
                <li class="nav_btn"><a href="/bollywood">Bollywood</a></li>
                <li class="nav_btn"><a href="/anime">Anime</a></li>
                <li class="nav_btn"><a href="/web">Web</a></li>
             </section>
             
             <li class = "signup"> <button class="btn" id="btn1" >Sign Up with Email</button> </li>

          </ul>        
  
      </div>
   
    <div>
        {% block content %}
          
        {% endblock content %}
    </div>

    
</body>
</html>