<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form action="register" method="post">
        {% csrf_token %}

        <input type="text" name="name" placeholder="username"><br>
        <input type="email" name="email" placeholder="email"><br>
        <!-- <input type="text" name="name" placeholder="name"><br> -->
        <!-- <input type="password" name="password1" placeholder="password"><br>
        <input type="password" name="password2" placeholder="confirm password"><br>
        <input type="submit" >

    </form>
</body>
</html> --> 