{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<!-- <link rel="stylesheet" href="{% static 'css/main.css' %}"> --> 
<div class="row">
    <div class="column">
      <img src="{% static 'images/movie.jpg' %}" alt="Snow" style="width:100%">
    </div>
    <div class="column">
      <img src="{% static 'images/movie.jpg' %}" alt="Forest" style="width:100%">
    </div>
    <div class="column">
      <img src="{% static 'images/movie.jpg' %}" alt="Mountains" style="width:100%">
    </div>
    <div class="column">
        <img src="{% static 'images/movie.jpg' %}" alt="Mountains" style="width:100%">
      </div>

      <div class="column">
        <img src="{% static 'images/movie.jpg' %}" alt="Snow" style="width:100%">
      </div>
      <div class="column">
        <img src="{% static 'images/movie.jpg' %}" alt="Forest" style="width:100%">
      </div>
      <div class="column">
        <img src="{% static 'images/movie.jpg' %}" alt="Mountains" style="width:100%">
      </div>
      <div class="column">
          <img src="{% static 'images/movie.jpg' %}" alt="Mountains" style="width:100%">
        </div>
  
  </div>
  
{% endblock content %}
